<div class="card story-card">
    <div class="card-body">
        <h5 class="card-title blog-name">{{name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted blog-name">{{vaccineType}}</h6>
        <h6 class="card-subtitle mb-2 text-muted blog-name">{{dateOfExperience}}</h6>
        <p class="card-text">{{body}}</p>
        <p class="card-text">{{category}}</p>
    </div>
</div>