<div class="card story-card">
    <div class="card-body">
        <h4 id="card-info" class="card-title blog-name">{{name}}</h4>
        <h6 id="card-info" class="card-subtitle mb-2 blog-name">{{category}} {{dateOfExperience}}</h6>
        <h5 id="card-info">{{vaccineType}} </h5>
        <p class="card-text">{{body}}</p>
    </div>
</div>